Servers
.metadata
.recommenders

helloworldrex/.settings
helloworldrex/target

helloworldtes/.settings
helloworldtes/target

imageuploadsendtes/.settings
imageuploadsendtes/target

imageuploadsendrex/.settings
imageuploadsendrex/target

sendmessagestes/.settings
sendmessagestes/target

rmmtes/.settings
rmmtes/target